bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Avalonia-NativeAOT-SingleFile.sln.DotSettings.user
Avalonia-NativeAOT-SingleFile/native/*.lib
Avalonia-NativeAOT-SingleFile/native/*.pdb
.vs/Avalonia-NativeAOT-SingleFile/DesignTimeBuild/.dtbcache.v2
.vs/Avalonia-NativeAOT-SingleFile/FileContentIndex/8f0ca2a3-7f31-4f10-9995-3e6c1d4e6c6d.vsidx
.vs/Avalonia-NativeAOT-SingleFile/v17/.futdcache.v2
.vs/Avalonia-NativeAOT-SingleFile/v17/.suo
.vs/Avalonia-NativeAOT-SingleFile/v17/DocumentLayout.backup.json
.vs/Avalonia-NativeAOT-SingleFile/v17/DocumentLayout.json
.vs/ProjectEvaluation/avalonia-nativeaot-singlefile.metadata.v9.bin
.vs/ProjectEvaluation/avalonia-nativeaot-singlefile.projects.v9.bin
.vs/ProjectEvaluation/avalonia-nativeaot-singlefile.strings.v9.bin
